<!-- TEMPLATE navigationListJava -->

<li><span>Java</span>
  <ul>
    <li><a href="#java-files">Files</a></li>
    <li><a href="#java-names">Names</a></li>
    <li><a href="#java-control-flow">Control Flow</a></li>
    <li><a href="#java-classes">Classes</a></li>
    <li><a href="#java-interfaces">Interfaces</a></li>
    <li><a href="#java-enums">Enums</a></li>
    <li><a href="#java-annotations">Annotations</a></li>
    <li><a href="#java-fields-methods">Fields &amp; Methods</a></li>
  </ul>
</li>

<!-- TEMPLATE contentJava -->

{contentJavaFiles}
{contentJavaNames}
{contentJavaControlFlow}
{contentJavaClasses}
{contentJavaInterfaces}
{contentJavaEnums}
{contentJavaAnnotations}
{contentJavaFieldsMethods}

<!-- TEMPLATE contentJavaOverview -->

<div class="card">
  <h3>Java</h3>
  <table class="summary">
    <tr><td>{var:javaPackages:0}</td><td>Packages</td></tr>
    <tr class="separator"></tr>
  </table>
  <table id="data-pie-java-types" class="summary">
    <tr><td>{var:javaClasses:0}</td><td>Classes</td></tr>
    <tr><td>{var:javaInterfaces:0}</td><td>Interfaces</td></tr>
    <tr><td>{var:javaEnums:0}</td><td>Enums</td></tr>
    <tr><td>{var:javaAnnotations:0}</td><td>Annotations</td></tr>
  </table>
  <table class="summary">
    <tr class="separator"></tr>
    <tr><td>{var:javaLinesTotal:0}</td><td>Lines</td></tr>
    <tr><td>{var:javaCharsTotal:0}</td><td>Characters</td></tr>
  </table>
  <canvas id="pie-java-types" height="200"></canvas>
</div>

<!-- TEMPLATE contentJavaFiles -->

<div id="java-files">
  <h2>Java - Files ({var:javaCodeFiles:0})</h2>
  <div class="grid">
    <div>
      <div class="card">
        <h3>Lines</h3>
        <table class="summary">
          <tr><td>{var:javaLinesTotal:0}</td><td>Lines Total</td></tr>
          <tr><td>{var:javaLinesMax:0}</td><td>Max Per File</td></tr>
          <tr><td>{var:javaLinesAvg:0}</td><td>Average Per File</td></tr>
        </table>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Characters</h3>
        <table class="summary">
          <tr><td>{var:javaCharsTotal:0}</td><td>Characters Total</td></tr>
          <tr><td>{var:javaCharsMax:0}</td><td>Max Per File</td></tr>
          <tr><td>{var:javaCharsAvg:0}</td><td>Average Per File</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaCharsPerLineMax:0}</td><td>Max Per Line</td></tr>
          <tr><td>{var:javaCharsPerLineAvg:0}</td><td>Average Per Line</td></tr>
        </table>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Imports</h3>
        <table class="summary">
          <tr><td>{var:javaImportsTotal:0}</td><td>Imports Total</td></tr>
          <tr><td>{var:javaImportsMax:0}</td><td>Max Per File</td></tr>
          <tr><td>{var:javaImportsAvg:0}</td><td>Average Per File</td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid-full">
      <div class="card">
        <h3>Lines</h3>
        <table class="list twocol">
          {for:javaLinesTop:contentJavaFilesRow}
          <tr><td class="subtle">...</td><td></td></tr>
          {for:javaLinesBottom:contentJavaFilesRow}
        </table>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid-full">
      <div class="card">
        <h3>Characters</h3>
        <table class="list twocol">
          {for:javaCharsTop:contentJavaFilesRow}
          <tr><td class="subtle">...</td><td></td></tr>
          {for:javaCharsBottom:contentJavaFilesRow}
        </table>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATE contentJavaFilesRow -->

<tr><td><span class="subtle">{var:package}</span>{var:file}</td><td>{var:amount:0}</td></tr>

<!-- TEMPLATE contentJavaNames -->
<div id="java-names">
  <h2>Java - Names</h2>
  <div class="grid">
    <div class="grid-half">
      <div class="card">
        <h3>Simple Type Names</h3>
        <table class="summary">
          <tr><td>{var:javaNamesSimpleMin:0}</td><td>Min</td></tr>
          <tr><td>{var:javaNamesSimpleMax:0}</td><td>Max</td></tr>
          <tr><td>{var:javaNamesSimpleAvg:0}</td><td>Average</td></tr>
        </table>
      </div>
      <div class="card">
        <h3>Simple Type Names</h3>
        <table class="list onecol smallfont">
          {for:javaNamesSimpleTop:contentJavaNamesSimpleRow}
          <tr><td class="subtle">...</td></tr>
          {for:javaNamesSimpleBottom:contentJavaNamesSimpleRow}
        </table>
      </div>
    </div>
    <div class="grid-half">
      <div class="card">
        <h3>Full Type Names</h3>
        <table class="summary">
          <tr><td>{var:javaNamesFullMin:0}</td><td>Min</td></tr>
          <tr><td>{var:javaNamesFullMax:0}</td><td>Max</td></tr>
          <tr><td>{var:javaNamesFullAvg:0}</td><td>Average</td></tr>
        </table>
      </div>
      <div class="card">
        <h3>Full Type Names</h3>
        <table class="list onecol smallfont">
          {for:javaNamesFullTop:contentJavaNamesFullRow}
          <tr><td class="subtle">...</td></tr>
          {for:javaNamesFullBottom:contentJavaNamesFullRow}
        </table>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATE contentJavaNamesSimpleRow -->

<tr><td><span class="subtle">{var:package}</span>{var:name}</td></tr>

<!-- TEMPLATE contentJavaNamesFullRow -->

<tr><td>{var:package}{var:name}</td></tr>

<!-- TEMPLATE contentJavaControlFlow -->

<div id="java-control-flow">
  <h2>Java - Control Flow</h2>
  <div class="grid">
    <div>
      <div class="card">
        <h3>Conditions / Cycles</h3>
        <table class="summary">
          <tr><td>{var:javaControlFlowIf:0}</td><td>If/Else Statements</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaControlFlowFor:0}</td><td>For Cycles</td></tr>
          <tr><td>{var:javaControlFlowEnhFor:0}</td><td>Enhanced For Cycles</td></tr>
          <tr><td>{var:javaControlFlowWhile:0}</td><td>While Cycles</td></tr>
          <tr><td>{var:javaControlFlowDoWhile:0}</td><td>Do While Cycles</td></tr>
        </table>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Switch</h3>
        <table class="summary">
          <tr><td>{var:javaControlFlowSwitch:0}</td><td>Switch Statements</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaControlFlowCaseTotal:0}</td><td>Case Statements</td></tr>
          <tr><td>{var:javaControlFlowCaseMin:0}</td><td>Min Per Switch</td></tr>
          <tr><td>{var:javaControlFlowCaseMax:0}</td><td>Max Per Switch</td></tr>
          <tr><td>{var:javaControlFlowCaseAvg:0}</td><td>Average Per Switch</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaControlFlowCaseDefaultTotal:0}</td><td>Default Cases</td></tr>
          <tr><td>{var:javaControlFlowCaseDefaultPerc:0}%</td><td>Default Cases Per Switch</td></tr>
        </table>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Try Catch</h3>
        <table class="summary">
          <tr><td>{var:javaControlFlowTryCatch:0}</td><td>Try-Catch Statements</td></tr>
          <tr><td>{var:javaControlFlowTryCatchFinally:0} ({var:javaControlFlowTryCatchFinallyPerc:0}%)</td><td>Finally Blocks</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaControlFlowTryWithResources:0}</td><td>Try-With-Resources</td></tr>
          <tr><td>{var:javaControlFlowTryWithResourcesFinally:0} ({var:javaControlFlowTryWithResourcesFinallyPerc:0}%)</td><td>Finally Blocks</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaControlFlowCatchTotal:0}</td><td>Catch Blocks</td></tr>
          <tr><td>{var:javaControlFlowCatchMin:0}</td><td>Min Per Statement</td></tr>
          <tr><td>{var:javaControlFlowCatchMax:0}</td><td>Max Per Statement</td></tr>
          <tr><td>{var:javaControlFlowCatchAvg:0}</td><td>Average Per Statement</td></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATE contentJavaClasses -->

<div id="java-classes">
  <h2>Java - Classes</h2>
  <div class="grid">
    <div>
      <div class="card">
        <h3>Declarations</h3>
        <table class="summary">
          <tr><td>{var:javaClasses:0}</td><td>Total Classes</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaClassesNestedStatic:0}</td><td>Nested Static</td></tr>
          <tr><td>{var:javaClassesNestedInner:0}</td><td>Nested Inner</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaClassesAbstract:0}</td><td>Abstract</td></tr>
          <tr><td>{var:javaClassesFinal:0}</td><td>Final</td></tr>
        </table>
      </div>
      <div class="card">
        <h3>Constructors</h3>
        <table class="summary">
          <tr><td>{var:javaClassesConstructorsTotal:0}</td><td>Total Constructors</td></tr>
          <tr><td>{var:javaClassesConstructorsAvg:0}</td><td>Average Per Class</td></tr>
        </table>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Fields</h3>
        <table class="summary">
          <tr><td>{var:javaClassesFieldsTotal:0}</td><td>Total Fields</td></tr>
          <tr><td>{var:javaClassesFieldsMin:0}</td><td>Min Per Class</td></tr>
          <tr><td>{var:javaClassesFieldsMax:0}</td><td>Max Per Class</td></tr>
          <tr><td>{var:javaClassesFieldsAvg:0}</td><td>Average Per Class</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaClassesFieldsStatic:0}</td><td>Static</td></tr>
          <tr><td>{var:javaClassesFieldsFinal:0}</td><td>Final</td></tr>
          <tr><td>{var:javaClassesFieldsSynchronized:0}</td><td>Synchronized</td></tr>
          <tr><td>{var:javaClassesFieldsVolatile:0}</td><td>Volatile</td></tr>
          <tr><td>{var:javaClassesFieldsTransient:0}</td><td>Transient</td></tr>
        </table>
      </div>
      <div class="card">
        <h3>Fields - Visibility</h3>
        <table id="data-pie-java-class-field-visibility" class="summary">
          <tr><td>{var:javaClassesFieldsPublic:0}</td><td>Public</td></tr>
          <tr><td>{var:javaClassesFieldsDefaultVisibility:0}</td><td>Default</td></tr>
          <tr><td>{var:javaClassesFieldsProtected:0}</td><td>Protected</td></tr>
          <tr><td>{var:javaClassesFieldsPrivate:0}</td><td>Private</td></tr>
        </table>
        <canvas id="pie-java-class-field-visibility" height="200"></canvas>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Methods</h3>
        <table class="summary">
          <tr><td>{var:javaClassesMethodsTotal:0}</td><td>Total Methods</td></tr>
          <tr><td>{var:javaClassesMethodsMin:0}</td><td>Min Per Class</td></tr>
          <tr><td>{var:javaClassesMethodsMax:0}</td><td>Max Per Class</td></tr>
          <tr><td>{var:javaClassesMethodsAvg:0}</td><td>Average Per Class</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaClassesMethodsAbstract:0}</td><td>Abstract</td></tr>
          <tr><td>{var:javaClassesMethodsFinal:0}</td><td>Final</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaClassesMethodsStatic:0}</td><td>Static</td></tr>
          <tr><td>{var:javaClassesMethodsSynchronized:0}</td><td>Synchronized</td></tr>
          <tr><td>{var:javaClassesMethodsNative:0}</td><td>Native</td></tr>
          <tr><td>{var:javaClassesMethodsStrictfp:0}</td><td>Strictfp</td></tr>
        </table>
      </div>
      <div class="card">
        <h3>Methods - Visibility</h3>
        <table id="data-pie-java-class-method-visibility" class="summary">
          <tr><td>{var:javaClassesMethodsPublic:0}</td><td>Public</td></tr>
          <tr><td>{var:javaClassesMethodsDefaultVisibility:0}</td><td>Default</td></tr>
          <tr><td>{var:javaClassesMethodsProtected:0}</td><td>Protected</td></tr>
          <tr><td>{var:javaClassesMethodsPrivate:0}</td><td>Private</td></tr>
        </table>
        <canvas id="pie-java-class-method-visibility" height="200"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATE contentJavaInterfaces -->

<div id="java-interfaces">
  <h2>Java - Interfaces</h2>
  <div class="grid">
    <div>
      <div class="card">
        <h3>Declarations</h3>
        <table class="summary">
          <tr><td>{var:javaInterfaces:0}</td><td>Total Interfaces</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaInterfacesNestedStatic:0}</td><td>Nested Static</td></tr>
          <tr><td>{var:javaInterfacesNestedInner:0}</td><td>Nested Inner</td></tr>
        </table>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Fields (Constants)</h3>
        <table class="summary">
          <tr><td>{var:javaInterfacesFieldsTotal:0}</td><td>Total Fields</td></tr>
          <tr><td>{var:javaInterfacesFieldsMin:0}</td><td>Min Per Interface</td></tr>
          <tr><td>{var:javaInterfacesFieldsMax:0}</td><td>Max Per Interface</td></tr>
          <tr><td>{var:javaInterfacesFieldsAvg:0}</td><td>Average Per Interface</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaInterfacesFieldsSynchronized:0}</td><td>Synchronized</td></tr>
          <tr><td>{var:javaInterfacesFieldsVolatile:0}</td><td>Volatile</td></tr>
          <tr><td>{var:javaInterfacesFieldsTransient:0}</td><td>Transient</td></tr>
        </table>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Methods</h3>
        <table class="summary">
          <tr><td>{var:javaInterfacesMethodsTotal:0}</td><td>Total Methods</td></tr>
          <tr><td>{var:javaInterfacesMethodsMin:0}</td><td>Min Per Interface</td></tr>
          <tr><td>{var:javaInterfacesMethodsMax:0}</td><td>Max Per Interface</td></tr>
          <tr><td>{var:javaInterfacesMethodsAvg:0}</td><td>Average Per Interface</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaInterfacesMethodsDefault:0}</td><td>With Default Implementation</td></tr>
          <tr><td>{var:javaInterfacesMethodsStatic:0}</td><td>Static</td></tr>
          <tr><td>{var:javaInterfacesMethodsSynchronized:0}</td><td>Synchronized</td></tr>
          <tr><td>{var:javaInterfacesMethodsNative:0}</td><td>Native</td></tr>
          <tr><td>{var:javaInterfacesMethodsStrictfp:0}</td><td>Strictfp</td></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATE contentJavaEnums -->

<div id="java-enums">
  <h2>Java - Enums</h2>
  <div class="grid">
    <div>
      <div class="card">
        <h3>Declarations</h3>
        <table class="summary">
          <tr><td>{var:javaEnums:0}</td><td>Total Enums</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaEnumsNestedStatic:0}</td><td>Nested Static</td></tr>
          <tr><td>{var:javaEnumsNestedInner:0}</td><td>Nested Inner</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaEnumsValuesTotal:0}</td><td>Total Values</td></tr>
          <tr><td>{var:javaEnumsValuesMin:0}</td><td>Min Per Enum</td></tr>
          <tr><td>{var:javaEnumsValuesMax:0}</td><td>Max Per Enum</td></tr>
          <tr><td>{var:javaEnumsValuesAvg:0}</td><td>Avg Per Enum</td></tr>
        </table>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Fields</h3>
        <table class="summary">
          <tr><td>{var:javaEnumsFieldsTotal:0}</td><td>Total Fields</td></tr>
          <tr><td>{var:javaEnumsFieldsMin:0}</td><td>Min Per Enum</td></tr>
          <tr><td>{var:javaEnumsFieldsMax:0}</td><td>Max Per Enum</td></tr>
          <tr><td>{var:javaEnumsFieldsAvg:0}</td><td>Average Per Enum</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaEnumsFieldsSynchronized:0}</td><td>Synchronized</td></tr>
          <tr><td>{var:javaEnumsFieldsVolatile:0}</td><td>Volatile</td></tr>
          <tr><td>{var:javaEnumsFieldsTransient:0}</td><td>Transient</td></tr>
        </table>
      </div>
      <div class="card">
        <h3>Fields - Visibility</h3>
        <table id="data-pie-java-enum-field-visibility" class="summary">
          <tr><td>{var:javaEnumsFieldsPublic:0}</td><td>Public</td></tr>
          <tr><td>{var:javaEnumsFieldsDefaultVisibility:0}</td><td>Default</td></tr>
          <tr><td>{var:javaEnumsFieldsProtected:0}</td><td>Protected</td></tr>
          <tr><td>{var:javaEnumsFieldsPrivate:0}</td><td>Private</td></tr>
        </table>
        <canvas id="pie-java-enum-field-visibility" height="200"></canvas>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Methods</h3>
        <table class="summary">
          <tr><td>{var:javaEnumsMethodsTotal:0}</td><td>Total Methods</td></tr>
          <tr><td>{var:javaEnumsMethodsMin:0}</td><td>Min Per Enum</td></tr>
          <tr><td>{var:javaEnumsMethodsMax:0}</td><td>Max Per Enum</td></tr>
          <tr><td>{var:javaEnumsMethodsAvg:0}</td><td>Average Per Enum</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaEnumsMethodsDefault:0}</td><td>With Default Implementation</td></tr>
          <tr><td>{var:javaEnumsMethodsStatic:0}</td><td>Static</td></tr>
          <tr><td>{var:javaEnumsMethodsSynchronized:0}</td><td>Synchronized</td></tr>
          <tr><td>{var:javaEnumsMethodsNative:0}</td><td>Native</td></tr>
          <tr><td>{var:javaEnumsMethodsStrictfp:0}</td><td>Strictfp</td></tr>
        </table>
      </div>
      <div class="card">
        <h3>Methods - Visibility</h3>
        <table id="data-pie-java-enum-method-visibility" class="summary">
          <tr><td>{var:javaEnumsMethodsPublic:0}</td><td>Public</td></tr>
          <tr><td>{var:javaEnumsMethodsDefaultVisibility:0}</td><td>Default</td></tr>
          <tr><td>{var:javaEnumsMethodsProtected:0}</td><td>Protected</td></tr>
          <tr><td>{var:javaEnumsMethodsPrivate:0}</td><td>Private</td></tr>
        </table>
        <canvas id="pie-java-enum-method-visibility" height="200"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATE contentJavaAnnotations -->

<div id="java-annotations">
  <h2>Java - Annotations</h2>
  <div class="grid">
    <div>
      <div class="card">
        <h3>Declarations</h3>
        <table class="summary">
          <tr><td>{var:javaAnnotations:0}</td><td>Total Annotations</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaAnnotationsNestedStatic:0}</td><td>Nested Static</td></tr>
          <tr><td>{var:javaAnnotationsNestedInner:0}</td><td>Nested Inner</td></tr>
          <tr class="separator"></tr>
          <tr><td>{var:javaAnnotationsElementsTotal:0}</td><td>Total Elements</td></tr>
          <tr><td>{var:javaAnnotationsElementsMin:0}</td><td>Min Per Annotation</td></tr>
          <tr><td>{var:javaAnnotationsElementsMax:0}</td><td>Max Per Annotation</td></tr>
          <tr><td>{var:javaAnnotationsElementsAvg:0}</td><td>Avg Per Annotation</td></tr>
        </table>
      </div>
    </div>
    <div class="grid-large">
      <div class="card">
        <h3>Annotation Use</h3>
        <table class="summary">
          <tr><td>{var:javaAnnotationsUsedTotal:0}</td><td>Total Annotations Used</td></tr>
          <tr class="separator"></tr>
        </table>
        <table id="data-pie-java-annotations-used-on" class="summary">
          <tr><td>{var:javaAnnotationsUsedClasses:0}</td><td>On Classes</td></tr>
          <tr><td>{var:javaAnnotationsUsedFields:0}</td><td>On Fields</td></tr>
          <tr><td>{var:javaAnnotationsUsedMethods:0}</td><td>On Methods</td></tr>
          <tr><td>{var:javaAnnotationsUsedOther:0}</td><td>On Other Elements</td></tr>
        </table>
        <canvas id="pie-java-annotations-used-on" height="200"></canvas>
      </div>
      <div class="card">
        <h3>Most Used Annotations</h3>
        <table class="list twocol">
          {for:javaAnnotationsUsedTop:contentJavaAnnotationsUsedRow}
        </table>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATE contentJavaAnnotationsUsedRow -->

<tr><td>{var:name}</td><td>{var:amount}</td></tr>

<!-- TEMPLATE contentJavaFieldsMethods -->

<div id="java-fields-methods">
  <h2>Java - Fields &amp; Methods</h2>
  <div class="grid">
    <div>
      <div class="card">
        <h3>Field Types</h3>
        <table class="summary">
          <tr><td>{var:javaFieldsTotal:0}</td><td>Total Fields</td></tr>
          <tr class="separator"></tr>
        </table>
        <table id="data-pie-java-field-types" class="summary">
          {for:javaFieldTypes:contentJavaFieldsMethodsRow}
        </table>
        <canvas id="pie-java-field-types" height="200"></canvas>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Method Return Types</h3>
        <table class="summary">
          <tr><td>{var:javaMethodsTotal:0}</td><td>Total Methods</td></tr>
          <tr><td>{var:javaMethodsReturnsTotal:0}</td><td>Total Return Statements</td></tr>
          <tr class="separator"></tr>
        </table>
        <table id="data-pie-java-method-return-types" class="summary">
          {for:javaMethodReturnTypes:contentJavaFieldsMethodsRow}
        </table>
        <canvas id="pie-java-method-return-types" height="200"></canvas>
      </div>
    </div>
    <div>
      <div class="card">
        <h3>Method Parameter Types</h3>
        <table class="summary">
          <tr><td>{var:javaMethodParametersTotal:0}</td><td>Total Method Parameters</td></tr>
          <tr><td>{var:javaMethodParametersMin:0}</td><td>Min Per Method</td></tr>
          <tr><td>{var:javaMethodParametersMax:0}</td><td>Max Per Method</td></tr>
          <tr><td>{var:javaMethodParametersAvg:0}</td><td>Average Per Method</td></tr>
          <tr class="separator"></tr>
        </table>
        <table id="data-pie-java-method-parameter-types" class="summary">
          {for:javaMethodParameterTypes:contentJavaFieldsMethodsRow}
        </table>
        <canvas id="pie-java-method-parameter-types" height="200"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATE contentJavaFieldsMethodsRow -->

<tr><td>{var:amount}</td><td>{var:type}</td></tr>